.bucket-list {
  text-align: center;
  margin-bottom: 10%;
}

.title {
  background-color: #0b1021;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 1.5em;
  padding: 2%;
}

.activity {
  border: 1px solid #ACB3BA;
}

.activity-name {
  font-size: 1.2em;
}

.activity-description {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.heart, .x, .check {
  margin: 0 0.5% 0 0.5%;
}
.completed-activity {
  opacity: 0.5;
  text-decoration: line-through;
  background-color: #CCCCCC
}

#new_activity {
  display: none;
}
