/* FONTS */
/*font-family: 'Ubuntu', sans-serif;
font-family: 'Monofett', cursive;
font-family: 'Ubuntu Condensed', sans-serif;*/

/* COLORS */
/* dark blue #3e4b69 */
/* light blue #6b9fbf */
/* super dark blue #0b1021 */

h1, h2 {
  font-family: 'Monofett', cursive;
}

h1 {
  font-size: 3em;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #0b1021;
  margin: 0;
  padding: 0;
}

a {
  color: #3e4b69;
  font-size: 1.3em;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #6b9fbf;
}

/* selected link */
a:active {
  color: #0000FF;
}

.main-container {
  border: solid 1px red;
  width: 80%;
  margin-left: 10%;
  min-height: 1000px;
  background-color: rgba(67,121,155, 0.3);
  position:relative;
}

.nav-bar {
  border: solid 1px red;
  background-color: white;
  padding: 2% 2% 0 2%;
}

.login {
  border: solid 1px red;
  text-align: center;
  line-height: 4em;
  padding: 2%;
}

footer {
  border: solid 1px red;
  padding: 0 2% 2% 2%;
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 96%;
}
