/* FONTS */
/*font-family: 'Ubuntu', sans-serif;
font-family: 'Monofett', cursive;
font-family: 'Ubuntu Condensed', sans-serif;*/

/* COLORS */
/* dark blue #3e4b69 */
/* light blue #6b9fbf */
/* super dark blue #0b1021 */
/* gold #FF9800 */

h1 {
  font-size: 3em;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #0b1021;
  margin: 0;
  padding: 0;
  /*background-color: rgba(67,121,155, 0.3);*/
}

a {
  color: #3e4b69;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #6b9fbf;
}

/* selected link */
a:active {
  color: #0000FF;
}

button#add_activity {
  height: 50px;
  font-size: 1.2em;
  margin: 2% 0 2% 0;
}

#match {
  height: 50px;
  font-size: 1.2em;
  margin: 2% 0 2% 0;
}

form.new_activity {
  margin: 2% 0 2% 0;
}

.main-container {
  width: 80%;
  margin-left: 10%;
  min-height: 1000px;
  margin-top: 1%;
  /*background-color: rgba(255, 152, 0, 0.25);*/
  position:relative;
}

.nav-bar {
  background-color: white;
  padding: 2% 2% 0 2%;
  display: block;
  margin: 0% 8%;
}

.login {
  text-align: center;
  line-height: 2em;
  padding: 2%;
  display: block;
  padding-top: 15%;
}

.welcome {
  float: right;
  display: block;
  margin-top: 3%;
}

.greeting {
  display: block;
  float: right;
}

.login-buttons {
  background:rgba(255,255,255, 0.4);
  border-radius: 25px;
  width: 18%;
  padding: 2% 1% 2% 1%;
  margin-left: 40%;
}

.home-login-buttons {
  font-size: 1.3em;
}

#messagesDiv {
  width: 25%;
  float: right;
  /*display: block;*/
  bottom: 0;
  position: fixed;
  background-color: white;
}

.chat {
  background-color: #FF9800;
  color: white;
  text-align: center;
  padding: 1%;
}

.expand {
  float: right;
  margin-right: 2%;
  font-size: 1.2em;
}

.chat-input-fields {
  margin: 2%;
  display: none;
  min-height: 20%;
}

#nameInput {
  width: 20%;
  display: inline-block;
}

#messageInput {
  width: 65%;
}

footer {
    padding: 0 2% 2% 2%;
  /*position: absolute;*/
  bottom: 0;
  height: 100px;
  width: 96%;
  display: block;
  background-color: white;
}

.homepage {
  background-image: url('clouds.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.homepage .nav-bar {
  margin: 2% 0 !important;
  padding-bottom: 1%;
  opacity: .6;
}

