.buddy-name {
    display: inline-block;
    width: 10em;
    padding: 1em;

}

.buddy hover{
    color: #6b9fbf;
}

.activities-list {
    display: inline-block;
    border-bottom: 1px solid white;
    padding: 1em;
    /*left: 11em;*/
    margin-left: 12em;
    margin-top: -3em;

}